<% include head %>

  <div class="aux">
    <h1>Ejemplo de autenticación con Express-Session</h1>
    <h3>Visita esta url para acceder al contenido del libro.</h3>
    <ul><b>
      <li> <a href="/content">Contenido del libro.</a> </li>
      <li> <a href="/register">Registrar un usuario.</a> </li>
      <li> <a href="/changepassword">Cambiar contraseña de usuario.</a> </li>
      <li> <a href="/logout">Cerrar sesión de usuario.</a> </li>

    </ul>
      <p style="align:justify;">La primera ves que se intente acceder deberá logearse para ver el contenido, una vez logeado con exito podrá clicar dicha url y acceder al libro. Si usted no posee una cuenta podrá crear un nuevo usuario para ser validado y acceder. Además de esto, una ves posea su usuario podrá cambiar su contraseña.</p>

    Usuario y Contraseña por defecto:
    <ul>
      <li> User: berkan , Password: rhdz
      <li> User: javier , Password: gonher
    </ul></b>
  </div>

<% include foot %>
