<% include head %>

<div class="login-page">
  <div class="form">
    <form class="login-form" method="post" action="/changepassword">
      <input type="text" placeholder="username" name="username">
      <input type="password" placeholder="oldpassword" name="oldpassword">
      <input type="password" placeholder="newpassword" name="newpassword">
      <button>changepassword</button>
      <h5> <%= message %> </h5>
    </form>
  </div>
</div>

<% include foot %>
